<footer class="footer dark-gray">
  <div class="footer-wrap container flex">
    <div class="footer-info footer-item">
      <a href="" class="footer-link" title="Hight pass - вернуться на главную">
       <img src="images/logo.svg" alt="Hight pass - вернуться на главную">
      </a>
      <p class="footer-info__text">Фотостудия High pass® 2018–2020</p>
    </div>
    <p class="footer-text footer-quote footer-item">Которая из моих фотографий самая любимая? Та, которую я собираюсь
      снять завтра.
      ©&nbsp;Имоджен Каннингем</p>

    <div class="footer-contact footer-item flex">
      <p class="footer-text">Больше интересного:</p>
      <div class="footer-contact__wrap footer-social">
        <a href="/" class="footer-social__link" title="Перейти в Одноклассники">
          <svg class="footer-social__icon">
            <use xlink:href="images/sprite.svg#social-1"></use>
          </svg>
        </a>
        <a href="/" class="footer-social__link" title="Перейти в VK">
          <svg class="footer-social__icon">
            <use xlink:href="images/sprite.svg#social-2"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</footer>
<script src="js/just-validate.min.js"></script>

<script src="js/main.min.js"></script>
</body>

</html>
