<section class="projects">
  <div class="projects-wraper container">
    <h2 class="heading projects-heading">Наши проекты</h2>
    <div class="projects-wrap">
      <article class="projects-article article-mini flex">
        <h3 class="projects-article__heading visually-hidden">Статья про пейзаж</h3>
        <span class="article-mini__hashtag hashtag">#пейзаж</span>
        <picture class="projects-photo projects-photo--mini">
          <source srcset="images/project-1.avif" type="image/avif" media="(min-width: 1200px)">
          <source srcset="images/project-1.webp" type="image/webp" media="(min-width: 1200px)">
          <source srcset="images/project-1.jpg" media="(min-width: 1200px)">
          <source srcset="images/project-1-1024.avif" type="image/avif" media="(min-width: 800px)">
          <source srcset="images/project-1-1024.webp" type="image/webp" media="(min-width: 800px)">
          <source srcset="images/project-1-1024.jpg" media="(min-width: 800px)">
          <source srcset="images/project-1-768.avif" type="image/avif" media="(min-width: 480px)">
          <source srcset="images/project-1-768.webp" type="image/webp" media="(min-width: 480px)">
          <source srcset="images/project-1-768.jpg" media="(min-width: 480px)">
          <img src="images/project-1-320.jpg" alt="пейзаж">
        </picture>
        <p class="projects-article__text">Синтетически, смешаны с не уникальными <span
            class="article-mini__span">данными до степени</span>…</p>
        <div class="projects-article__date flex">
          <svg>
            <use xlink:href="images/sprite.svg#calendar"></use>
          </svg>
          <p>16 июня</p>
        </div>
      </article>
      <article class="projects-article article-mini flex">
        <h3 class="projects-article__heading visually-hidden">Статья про портрет</h3>
        <span class="article-mini__hashtag hashtag">#портрет</span>
        <picture class="projects-photo projects-photo--mini">
          <source srcset="images/project-2.avif" type="image/avif" media="(min-width: 1200px)">
          <source srcset="images/project-2.webp" type="image/webp" media="(min-width: 1200px)">
          <source srcset="images/project-2.jpg" media="(min-width: 1200px)">
          <source srcset="images/project-2-1024.avif" type="image/avif" media="(min-width: 800px)">
          <source srcset="images/project-2-1024.webp" type="image/webp" media="(min-width: 800px)">
          <source srcset="images/project-2-1024.jpg" media="(min-width: 800px)">
          <source srcset="images/project-2-768.avif" type="image/avif" media="(min-width: 480px)">
          <source srcset="images/project-2-768.webp" type="image/webp" media="(min-width: 480px)">
          <source srcset="images/project-2-768.jpg" media="(min-width: 480px)">
          <img src="images/project-2-320.jpg" alt="портрет мужчины">
        </picture>
        <p class="projects-article__text projects-article__disktop">В своём стремлении улучшить опыт мы<span
            class="article-mini__span"> упускаем,
            что явные</span>...</p>
        <p class="projects-article__text projects-article__mobil">В своём стремлении улучшить опыт мы<span
            class="article-mini__span"> упускаем,
            что явные</span>...</p>
        <div class="projects-article__date flex">
          <svg>
            <use xlink:href="images/sprite.svg#calendar"></use>
          </svg>
          <p>28 мая</p>
        </div>
      </article>
      <article class="projects-article article-mini flex">
        <h3 class="projects-article__heading visually-hidden">Статья про предмет</h3>
        <span class="article-mini__hashtag hashtag">#предмет</span>
        <picture class="projects-photo projects-photo--mini">
          <source srcset="images/project-3.avif" type="image/avif" media="(min-width: 1200px)">
          <source srcset="images/project-3.webp" type="image/webp" media="(min-width: 1200px)">
          <source srcset="images/project-3.jpg" media="(min-width: 1200px)">
          <source srcset="images/project-3-1024.avif" type="image/avif" media="(min-width: 800px)">
          <source srcset="images/project-3-1024.webp" type="image/webp" media="(min-width: 800px)">
          <source srcset="images/project-3-1024.jpg" media="(min-width: 800px)">
          <source srcset="images/project-3-768.avif" type="image/avif" media="(min-width: 480px)">
          <source srcset="images/project-3-768.webp" type="image/webp" media="(min-width: 480px)">
          <source srcset="images/project-3-768.jpg" media="(min-width: 480px)">
          <img src="images/project-3-320.jpg" alt="фотография стола с посудой">
        </picture>
        <p class="projects-article__text">Равным образом, высокое качество позиционных...<span
            class="article-mini__span">высокотехнологичная концепция общественного уклада</span></p>
        <div class="projects-article__date flex">
          <svg>
            <use xlink:href="images/sprite.svg#calendar"></use>
          </svg>
          <p>14 мая</p>
        </div>
      </article>
      <article class="projects-article article-big article-big--1 text-white">
        <span class="article-big__hashtag hashtag">#fuji</span>
        <div class="projects-article__info flex">
          <div class="projects-article__content">
            <div class="projects-article__date flex">
              <svg>
                <use xlink:href="images/sprite.svg#calendar-white"></use>
              </svg>
              <p>9 апреля</p>
            </div>
            <h3 class="article-big__heading projects-article__heading">Cемантический разбор</h3>
            <p class="projects-article__text">В рамках спецификации современных стандартов, интерактивные прототипы</p>
          </div>
          <a href="#" class="projects-article__link button-transparent">О проекте</a>
        </div>
      </article>
      <article class="projects-article article-big article-big--2 text-white">
        <span class="article-big__hashtag hashtag">#проектзабвение</span>
        <div class="projects-article__info flex">
          <div class="projects-article__content">
            <div class="projects-article__date flex">
              <svg>
                <use xlink:href="images/sprite.svg#calendar-white"></use>
              </svg>
              <p>20 марта</p>
            </div>
            <h3 class="article-big__heading projects-article__heading">Забвение</h3>
            <p class="projects-article__text">Играет важную роль в формировании глубокомысленных рассуждений</p>
          </div>
          <a href="#" class="projects-article__link button-transparent">О проекте</a>
        </div>
      </article>
      <article class="projects-article article-middle article-middle--1 flex">
        <h3 class="projects-article__heading visually-hidden">Статья про ретушь</h3>
        <span class="article-middle__hashtag hashtag text-white">#ретушь</span>
        <picture class="projects-photo projects-photo--middle">
          <source srcset="images/project-5.avif" type="image/avif" media="(min-width: 1200px)">
          <source srcset="images/project-5.webp" type="image/webp" media="(min-width: 1200px)">
          <source srcset="images/project-5.jpg" media="(min-width: 1200px)">
          <source srcset="images/project-5-1024.avif" type="image/avif" media="(min-width: 800px)">
          <source srcset="images/project-5-1024.webp" type="image/webp" media="(min-width: 800px)">
          <source srcset="images/project-5-1024.jpg" media="(min-width: 800px)">
          <source srcset="images/project-5-768.avif" type="image/avif" media="(min-width: 480px)">
          <source srcset="images/project-5-768.webp" type="image/webp" media="(min-width: 480px)">
          <source srcset="images/project-5-768.jpg" media="(min-width: 480px)">
          <img src="images/project-5-320.jpg" alt="фотография апельсинов">
        </picture>
        <p class="projects-article__text">Как принято считать, многие известные личности и по сей день остаются уделом
          либералов…</p>
        <div class="projects-article__date flex">
          <svg>
            <use xlink:href="images/sprite.svg#calendar"></use>
          </svg>
          <p>9 марта</p>
        </div>
      </article>
      <article class="projects-article article-middle article-middle--2 flex">
        <h3 class="projects-article__heading visually-hidden">Статья про портрет</h3>
        <span class="article-middle__hashtag hashtag text-white">#портрет</span>
        <picture class="projects-photo projects-photo--middle">
          <source srcset="images/project-6.avif" type="image/avif" media="(min-width: 1200px)">
          <source srcset="images/project-6.webp" type="image/webp" media="(min-width: 1200px)">
          <source srcset="images/project-6.jpg" media="(min-width: 1200px)">
          <source srcset="images/project-6-1024.avif" type="image/avif" media="(min-width: 800px)">
          <source srcset="images/project-6-1024.webp" type="image/webp" media="(min-width: 800px)">
          <source srcset="images/project-6-1024.jpg" media="(min-width: 800px)">
          <source srcset="images/project-6-768.avif" type="image/avif" media="(min-width: 480px)">
          <source srcset="images/project-6-768.webp" type="image/webp" media="(min-width: 480px)">
          <source srcset="images/project-6-768.jpg" media="(min-width: 480px)">
          <img src="images/project-6-320.jpg" alt="фотография девушки">
        </picture>
        <p class="projects-article__text">С учётом сложившейся международной обстановки, новая модель организационной…
        </p>
        <div class="projects-article__date flex">
          <svg>
            <use xlink:href="images/sprite.svg#calendar"></use>
          </svg>
          <p>1 марта</p>
        </div>
      </article>
    </div>
  </div>
</section>
